@charset "UTF-8";

/*
   【重要】
   本CSSファイルは、PDF生成エンジン（Copper PDF）との互換性を確保するため、
   原則として CSS 2.1 に準拠した記述を行ってください。
*/

/* =========================================
   ページ設定 (Page Settings)
   ========================================= */
@page {
    margin: 35mm 20mm 27mm 30mm;
    counter-increment: page;
}

body:before {
    -cssj-page-content: footer;
    bottom: -15mm;
    text-align: center;
    width: 100%;
    content: '- ' counter(page) ' -';
}

/* =========================================
   基本設定 (Basic Document Settings)
   ========================================= */
body {
    color: #000;
    margin: 0;
    background-color: #fff;
}

* {
    font-family: "NotoSerifJP-Regular" "MS Mincho", "Hiragino Mincho ProN", serif;
    font-size: 12pt;
    line-height: 19.4pt; /* 12pt * 1.618 */
}

p {
    margin: 0;
    text-indent: 1em;
    text-align: justify;
    text-justify: inter-ideograph;
}

/* =========================================
   タイトル・日付・宛先
   ========================================= */
h1 {
    font-size: 12pt;
    text-align: center;
    margin: 19.4pt 0;
    font-weight: normal;
    letter-spacing: 0.5em;
    page-break-after: avoid;
}

.date {
    text-align: right;
    margin-bottom: 19.4pt;
}

.dest {
    margin: 19.4pt 0;
    text-align: left;
}

/* =========================================
   テーブル設定 (Table Settings)
   ========================================= */
table.info, table.att {
    border-collapse: collapse;
    width: auto;
    margin-top: 0;
}

/* 事件情報・訴訟物の価格など */
table.info {
    margin-bottom: 19.4pt;
}

table.info td {
    text-align: justify;
    text-justify: inter-ideograph;
    text-align-last: justify;
    -moz-text-align-last: justify;
    min-width: 8em;
}

table.info td:first-child {
    padding-right: 1.5em;
}

/* 数値セルは右寄せ */
table.info td.val {
    text-align: right;
    text-align-last: right;
    -moz-text-align-last: right;
}

/* =========================================
   ブロック配置 (Block Alignment)
   ========================================= */
.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* 右寄せブロック内の段落（住所・氏名など） */
.right p {
    margin: 0;
    text-indent: 0;
    text-align: left;
    display: table; /* 内容に合わせて幅を縮小 */
    margin-left: auto;
    min-width: 16em;
}

.left p {
    margin: 0;
    text-indent: 0;
    text-align: left;
}

/* ブロック内のテーブル配置 */
.right table.info {
    margin-left: auto;
    margin-right: 0;
}

.left table.info {
    margin-left: 0;
    margin-right: auto;
}

/* 複数当事者間の間隔 */
.right table + p {
    margin-top: 19.4pt;
}

/* =========================================
   階層リスト (Automatic Numbering)
   ========================================= */
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* 階層ごとのインデント調整 */
body > ol > li > ol,
body > ol > li > ol > li > ol,
body > ol > li > ol > li > ol > li > ol,
body > ol > li > ol > li > ol > li > ol > li > ol,
body > ol > li > ol > li > ol > li > ol > li > ol > li > ol {
    margin-left: -1em;
}

h2 {
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    display: inline;
}

h2 + * {
    page-break-before: avoid;
}

/* カウンターのリセット */
ol.lvl1 { counter-reset: cnt1; }
ol.lvl2 { counter-reset: cnt2; }
ol.lvl3 { counter-reset: cnt3; }
ol.lvl4 { counter-reset: cnt4; }
ol.lvl5 { counter-reset: cnt5; }
ol.lvl6 { counter-reset: cnt6; }
ol.lvl7 { counter-reset: cnt7; }

/* 各レベルのスタイル */
ol.lvl1 > li { margin-top: 19.4pt; }
ol.lvl1 > li:before {
    counter-increment: cnt1;
    content: "第" counter(cnt1);
    display: inline-block; width: 2em;
}

ol.lvl2 > li {
    position: relative;
    padding-left: 1.5em;
    text-indent: 1.5em;
}
ol.lvl2 > li:before {
    counter-increment: cnt2;
    content: counter(cnt2) "　";
    position: absolute; left: 0; top: 0; width: 1.5em;
}
ol.lvl2 > li > h2 { display: block; padding-left: 0; }

ol.lvl3 > li { position: relative; padding-left: 2em; }
ol.lvl3 > li:before {
    counter-increment: cnt3;
    content: "(" counter(cnt3) ") ";
    position: absolute; left: 0; top: 0; width: 2em;
}

ol.lvl4 > li { position: relative; padding-left: 2em; }
ol.lvl4 > li:before {
    counter-increment: cnt4;
    content: counter(cnt4, katakana) " ";
    position: absolute; left: 0; top: 0; width: 2em;
}

ol.lvl5 > li { position: relative; padding-left: 2.5em; }
ol.lvl5 > li:before {
    counter-increment: cnt5;
    content: "(" counter(cnt5, katakana) ") ";
    position: absolute; left: 0; top: 0; width: 2.5em;
}

ol.lvl6 > li { position: relative; padding-left: 2em; }
ol.lvl6 > li:before {
    counter-increment: cnt6;
    content: counter(cnt6, lower-latin) " ";
    position: absolute; left: 0; top: 0; width: 2em;
}

ol.lvl7 > li { position: relative; padding-left: 2.5em; }
ol.lvl7 > li:before {
    counter-increment: cnt7;
    content: "(" counter(cnt7, lower-latin) ") ";
    position: absolute; left: 0; top: 0; width: 2.5em;
}

/* =========================================
   附属書類 (Attachments)
   ========================================= */
table.att {
    margin-bottom: 38.8pt;
    margin-left: 2em;
    counter-reset: att-cnt;
}

table.att tr { counter-increment: att-cnt; }
table.att td {
    padding: 0;
    vertical-align: top;
}

table.att td:first-child {
    width: 22em;
}

table.att td:first-child:before {
    content: counter(att-cnt) "　";
    display: inline-block; width: 2em;
}

/* =========================================
   その他
   ========================================= */
.break { page-break-before: always; }
.end-mark { text-align: right; margin-top: 19.4pt; }
